<%- include('template/header') %>
<article class="container">
  <form class="" action="short" method="POST">
    <div class="form-group mb-2">
      <h2>歡迎使用縮網址系統：</h2>
      <br>
      <input type="text" class="form-control"  name="url" placeholder="請輸入網址">
    </div>
    <br>

    <button type="submit" class="btn btn-primary mb-2">轉換！</button>

  </form>
</article>
<%- include('template/footer') %>
