<%- include('template/header') %>
<article class="container">
  <h1 class="short">
    您的短網址：<a href="<%= shortUrl %>" target="_blank">short-url.julypenguin.tw/<%= shortUrl %></a>
  </h1>
</article>
<%- include('template/footer') %>